@model Usuario
<html>
<head>
    <title>Eliminar Usuario</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="background-color:darkolivegreen">
<h2>Eliminar Usuario</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>
        <!-- Agrega más campos según sea necesario -->
    </dl>
</div>

<p>¿Está seguro de que desea eliminar este usuario?</p>

<form asp-action="DeleteS" asp-route-id="@Model.id" method="post">
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    <a asp-action="Lista" class="btn btn-secondary">Cancelar</a>
</form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>