@model List<AppLogin.ViewModels.UsuarioVM>

<html>
<head>
    <title>Usuarios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body style="background-color:darkolivegreen;">
    <title>Lista de Usuarios</title>
<div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-primary btn-sm">
        @Html.ActionLink("Crear Nuevo", "crearUsuarios", "Acceso", null, new { @class = "text-white" })
    </button>
</div>
@if (Model.Count > 0)
{
<div class="table-responsive">
    <table class="table table-white">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Clave</th>
                <th>Rol</th>
                <th>Fecha de Modificación</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.id</td>
                    <td>@usuario.usuario</td>
                    <td>@usuario.clave</td>
                    <td>@usuario.rol</td>
                    <td>@usuario.fechaModificacion</td>
                    <td>@usuario.estado</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = usuario.id }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = usuario.id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('¿Está seguro que desea eliminar este usuario?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}
else
{
    <p>No hay usuarios disponibles.</p>
}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>